$lightgreen: #3fde94;
$lightgrey: #f0f4f9;
$darkblue: #434b54;
$greenblue: #448a7e;
$primary: #2196f3 !default;
$secondary: $darkblue !default;
$success: #4caf50 !default;
//$warning: #3482f7 !default;

$font-size-base: 1.15rem !default;

.text-shadow {
  text-shadow: 5px 5px 10px black;
}

$mycolors: (
  "green": $lightgreen,
  "grey": $lightgrey,
  "darkblue": $darkblue,
  "greenblue": $greenblue,
  "white": #fff,
);

@each $type, $color in $mycolors {
  .mybg-#{$type} {
    background-color: $color;
  }
  .mytext-#{$type} {
    color: $color;
  }
}

nav .navbar-nav .nav-link.active {
  background-color: $darkblue;
  color: $lightgrey;
}

.cursor-pointer {
  cursor: pointer;
}

label.required::after {
  content: "*";
  color: red;
  font-weight: bold;
}

.page-link {
  background-color: $lightgreen;
}
.page-item > .page-link.disabled {
  background-color: $lightgreen;
  opacity: 0.7;
}
.page-item > .page-link.active {
  background-color: $darkblue;
  border-color: $greenblue;
}

@import "~bootstrap/scss/bootstrap.scss";
